* {
    box-sizing: border-box;
  }
  
  body {
    background: #444141;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    line-height: 1.5;
  }
  .main::-webkit-scrollbar {
    width: 10px;
  }
   
  .main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color:  #444141;
  }
   
  .main::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 2px;
  }
  .main::-webkit-scrollbar-thumb:hover {
    background-color: grey;
  }
  .sidenav::-webkit-scrollbar {
    width: 10px;
  }
   
  .sidenav::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }
   
  .sidenav::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 5px;
  }
  
  .sidenav::-webkit-scrollbar-thumb:hover {
    background-color: grey;
  }

 /* backGroun anim */
 
$bubble-count: 50;
$sway-type: "sway-left-to-right", "sway-right-to-left";

@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

@function sample($list) {
  @return nth($list, random(length($list)));
}

.bubbles {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bubble {
  position: absolute;
  left: var(--bubble-left-offset);
  bottom: -75%;
  display: block;
  width: var(--bubble-radius);
  height: var(--bubble-radius);
  border-radius: 50%;
  animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(183, 94%, 76%, 0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
  }

  @for $i from 0 through $bubble-count {
    &:nth-child(#{$i}) {
      --bubble-left-offset: #{random_range(0vw, 100vw)};
      --bubble-radius: #{random_range(1vw, 10vw)};
      --bubble-float-duration: #{random_range(6s, 12s)};
      --bubble-sway-duration: #{random_range(4s, 6s)};
      --bubble-float-delay: #{random_range(0s, 4s)};
      --bubble-sway-delay: #{random_range(0s, 4s)};
      --bubble-sway-type: #{sample($sway-type)};
    }
  }
}

@keyframes float-up {
  to {
    transform: translateY(-175vh);
  }
}

@keyframes sway-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes sway-right-to-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
 /* backGroun anim */

  /* Style the side navigation */
  // .main{
  //   overflow: scroll;
  // }
  .sidenav {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #131516;
    overflow-x: hidden;
    color: #757575;
    margin-left: 1%;
    margin-top: 1%;
    border-radius: 5%;
   
}
.sidenav h2{
    cursor: auto; 
    color: teal; 
}
  
  img{
    width: 100%;    
  }
 
  
  /* Style the content */
  .about {
    background-color: #131516;
    position: relative;
    left: 38%;
    top: 2%;
    width: 61%;
    color: #757575;
    height: 83%;
  }
  .alignment{
    margin-left: 24px;
    position: relative;
    bottom: -24px;
  }
   a{
    text-decoration: none;
  }
  .wrap{
      text-decoration: none;
      color: teal;
  }
  .projects {
    background-color: #131516;
    position: relative;
    left: 38%;
    top: 2%;
    width: 61%;
    color: #757575;
    height: 83%;
  }
  .experience {
    background-color: #131516;
    position: relative;
    left: 38%;
    top: 2%;
    width: 61%;
    color: #757575;
    height: 83%;
  }
  .education {
    background-color: #131516;
    position: relative;
    left: 38%;
    top: 2%;
    width: 61%;
    color: #757575;
    height: 83%;
  }

  .sidenav a{
      text-decoration: none;
      color: #757575;
      position: relative;
      left: 7%;
      
    }

    .sidenav a:hover {    
        color: #757575;
      }
    .sidenav h2:hover{
        cursor: pointer;
        color: #757575;

    }
 
    .icons{
        display: flex;
        justify-content: space-evenly;
        cursor: pointer;
        
      
    }
    .icons i:hover{
        color: teal;
    }